<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<style>
.glyphicon-remove {
    color: red;
}
.glyphicon-ok {
    color: green;
}
</style>
<title th:text="'Samples Set ' + ${samplesSet.name}">Samples Set</title>
<script type="text/javascript">
	function setURLs() {
		// remove all rows with empty url field
		// the headers are removed as well
		$('#sampleURLs tr').filter(function() {
			return !$('#url', this).val();
		}).remove();
		var urlIndex = 0;
		$('#sampleURLs tr').each(
				function() {
					$('#url', this).attr("name",
							"sampleURLs[" + urlIndex + '].url');
					$('#url', this).attr("id", "url-" + urlIndex);
					$('#urlDescription', this).attr("name",
							"sampleURLs[" + urlIndex + '].description');
					$('#urlDescription', this).attr("id",
							"description-" + urlIndex);
					urlIndex++;
				});
	}

	window.addEventListener('load', function() {
		// Add a row whenever user clicks on the #add-row link
		var urlIndex = 0;
		$('#sampleURLs').on(
				'click',
				'.add-row',
				function(e) {
					e.preventDefault();

					var tableBody = $('#sampleURLs > tbody'), lastRow = $(
							'tr:last-child', tableBody),
					// we will need to clone the last row, else we will be simply pointing to the same row. By not cloning it, we are simply moving the last row to the last row.
					lastRowClone = lastRow.clone();
					$('a', lastRow).attr("id", "remove-row");
					$('a', lastRow).attr("class", "remove-row");
					$('span', lastRow).attr("class",
							"glyphicon glyphicon-minus");
					// clear the values in the text field.
					$('input[type=text]', lastRowClone).val('');

					// and finally we append the row after the last row.
					tableBody.append(lastRowClone);
				});

		$('#sampleURLs').on('click', '.remove-row', function(e) {
			e.preventDefault();
			var row = $(this).parent().parent();
			row.remove();
		})

	});
</script>
<script type="text/javascript">
	window.addEventListener('load', function() {
		var monitorElement = document.getElementById("monitor");
		function monitor() {
			if (monitorElement != null) {
				monitorUrl = monitorElement.getAttribute("monitorUrl");
				$("#monitor").load(monitorUrl);
				if (document.getElementById("status").value == 'FINISHED') {
					clearInterval(monitorVar);
					finishedUrl = monitorElement.getAttribute("finishedUrl");
					window.location.replace(finishedUrl);
				}
			}
		}
		if (monitorElement != null) {
			var monitorVar = window.setInterval(monitor, 3000);
		}
	});
</script>
</head>
<body>
	<h1 layout:fragment="header"
		th:text="'Samples Set ' + ${samplesSet.name}">Samples Set</h1>
	<div layout:fragment="content" class="container">

		<div class="row">
			<div class="col-md-9">
				<form class="form-horizontal" role="form" id="samplesSetUpdateForm"
					th:action="@{/formats/{formatId}/samples-sets/{samplesSetId}(formatId=${samplesSet.format.id},samplesSetId=${samplesSet.getId()})}"
					th:object="${samplesSet}" action="#" method="post"
					onsubmit="setURLs()">

					<input id="id" type="hidden" th:field="*{id}" />

					<div class="form-group">
						<label class="col-md-2 control-label" for="format">format</label>
						<div class="col-md-7">
							<a id="formatName" class="form-control-static"
								th:text="${samplesSet.format.name}"
								th:href="@{/formats/{formatId}(formatId=${samplesSet.format.id})}"
								href="view.html"> Format Name </a>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="name">name</label>
						<div class="col-md-7">
							<input id="name" class="form-control" type="text"
								th:field="*{name}"
								th:class="${#fields.hasErrors('name')} ? 'field-error'" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-2 control-label" for="description">description</label>
						<div class="col-md-7">
							<textarea id="description" class="form-control" rows="3"
								th:field="*{description}"
								th:class="${#fields.hasErrors('description')} ? 'field-error'"></textarea>
						</div>
					</div>
					
										<div class="form-group">
						<label class="col-md-2 control-label" for="maxTrainSamples">maximum training samples</label>
						<div class="col-md-7">
							<input id="maxTrainSamples" class="form-control" type="text"
								th:field="*{maxTrainSamples}"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="minTestSamples">minimum testing samples</label>
						<div class="col-md-7">
							<input id="minTestSamples" class="form-control" type="text"
								th:field="*{minTestSamples}"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="maxAlignSamples">maximum signatures samples</label>
						<div class="col-md-7">
							<input id="maxAlignSamples" class="form-control" type="text"
								th:field="*{maxAlignSamples}"/>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-2 control-label" for="tableURL">Collected
							from site(s)</label>
						<div class="col-md-7">
							<table id="sampleURLs" class="table table-striped"
								th:field="*{sampleURLs}">
								<thead>
									<th>URL</th>
									<th>Description</th>
									<th>&nbsp;</th>
								</thead>
								<tbody>
									<tr th:each="sampleURL:${samplesSet.sampleURLs}">
										<td><a th:attr="href=${sampleURL.url}"><input
												id="url" type="text" th:attr="value=${sampleURL.url}"
												class="form-control quantity" /></a></td>
										<td><input id="urlDescription" type="text"
											th:attr="value=${sampleURL.description}"
											class="form-control quantity" /></td>
										<td><a href="#" id="remove-row" class="remove-row"><span
												class="glyphicon glyphicon-minus"></span></a></td>
									</tr>
									<tr>
										<td><input id="url" type="text" value=""
											class="form-control quantity" /></td>
										<td><input id="urlDescription" type="text" value=""
											class="form-control quantity" /></td>
										<td><a href="#" id="add-row" class="add-row"><span
												class="glyphicon glyphicon-plus"></span></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>


					<div th:unless="${samplesSet.created} == null"
						class="dl-horizontal form-group">
						<label class="col-md-2 control-label">created</label>
						<div class="col-md-7">
							<p th:text="${#calendars.format(samplesSet.created)}"
								class="form-control-static">July 11, 2012 2:17:16 PM CDT</p>
						</div>
					</div>

					<div th:unless="${samplesSet.updated} == null"
						class="dl-horizontal form-group">
						<label class="col-md-2 control-label">updated</label>
						<div class="col-md-7">
							<p th:text="${#calendars.format(samplesSet.updated)}"
								class="form-control-static">July 11, 2012 2:17:16 PM CDT</p>
						</div>
					</div>

					<div class="form-group row">
						<div th:include="util/confirmation :: confirmation"></div>
						<div class="col-md-offset-1 col-md-1">
							<input class="btn btn-primary" name="operation" type="submit"
								value="update" />
						</div>
						<div class="col-md-offset-3 col-md-1">
							<button class="btn btn-danger" type="button" name="operation"
								value="delete" data-toggle="modal" data-target="#confirmDelete"
								data-title="Delete Samples Set"
								data-message="Are you sure you want to delete this samples set ?">
								delete</button>
						</div>
					</div>
				</form>
				<div
					th:unless="${samplesSet.processMonitor} == null or ${samplesSet.processMonitor.status.name()} == 'FINISHED'">
					<div th:with="processMonitor=${samplesSet.processMonitor}"
						id="monitor"
						th:attr="monitorUrl=@{/formats/{formatId}/samples-sets/{samplesSetId}/samples/monitor(formatId=${samplesSet.format.id},samplesSetId=${samplesSet.getId()})}, finishedUrl=@{/formats/{formatId}/samples-sets/{samplesSetId}(formatId=${samplesSet.format.id},samplesSetId=${samplesSet.getId()})}">
						<div th:replace="execution/process-view :: process" id="process">
						</div>
					</div>
				</div>
				<h2 th:if="${not #lists.isEmpty(samplesSet.samples)}">Samples</h2>
				<table th:if="${not #lists.isEmpty(samplesSet.samples)}"
					class="table table-bordered" id="samplesSets">
					<thead>
						<tr>
							<th>File</th>
							<th>Training</th>
							<th>Testing</th>
							<th>Aligning</th>
							<th>Size</th>
							<th>Last Modified</th>
							<th>Testing Result</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="sample:${samplesSet.samples}">
							<td><a th:text="${sample.fileName}"
								th:href="@{/formats/{formatId}/samples-sets/{samplesSetId}/samples/{sampleId}(formatId=${samplesSet.format.id},samplesSetId=${samplesSet.getId()},sampleId=${sample.getId()})}"
								href="view.html"> File Name </a></td>
							<td><span th:if="${sample.training}"
								class="glyphicon glyphicon-ok"></span></td>
							<td><span th:if="${sample.testing}"
								class="glyphicon glyphicon-ok"></span></td>
							<td><span th:if="${sample.aligning}"
								class="glyphicon glyphicon-ok"></span></td>
							<td th:text="${sample.fileSize}">File Size</td>
							<td th:text="${#calendars.format(sample.lastModifiedCalendar)}">Last
								Modified</td>
							<td th:if="${sample.isMissClassified() != null}"><span th:attr="class=${sample.isMissClassified() ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-ok'}"></span></td>						
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-3 well">
				<div class="list-group">
					<ul class="nav nav-pills nav-stacked">
						<li><a
							th:href="@{/formats/{formatId}(formatId=${samplesSet.format.id})}"
							href="view.html"><span class="glyphicon glyphicon-arrow-left"></span>
								Format </a></li>
					</ul>
				</div>
				<div class="list-group">
					<h4 class="list-group-item-heading">Samples</h4>
					<ul class="nav nav-pills nav-stacked">
						<li class="divider"></li>
						<li><a href="form.html"
							th:href="@{/formats/{formatId}/samples-sets/{samplesSetId}/samples(formatId=${samplesSet.format.id},samplesSetId=${samplesSet.getId()})}">
								<span class="glyphicon glyphicon-arrow-right"></span> Create local selected
						</a></li>
						<li><a href="form.html"
							th:href="@{/formats/{formatId}/samples-sets/{samplesSetId}/samples?corpora=local_recursive(formatId=${samplesSet.format.id},samplesSetId=${samplesSet.getId()},)}">
								<span class="glyphicon glyphicon-arrow-right"></span> Create local recursive
						</a></li>
						<li><a href="form.html"
							th:href="@{/formats/{formatId}/samples-sets/{samplesSetId}/samples?corpora=remote(formatId=${samplesSet.format.id},samplesSetId=${samplesSet.getId()})}">
								<span class="glyphicon glyphicon-arrow-right"></span> Create remote
						</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>